body{
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Audiowide', cursive;
  color: white;
  background: black;
}

canvas{
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  font-family: 'Audiowide', cursive;
}

.header{
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size: 90px;
}

.end-info, .new-game{
  z-index: 10;
  text-align: center;
  position: relative;

}

.new-game{
  margin-top: -440px;
  font-size: 32px;
  cursor: pointer;
  background-color: #33FF99;
  color: white;
  border-radius: 5px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
}

.game-over{
  margin-top: -456px;
  font-size: 90px;
}

.retry{
  margin-top: 102px;
  font-size: 60px;
  color: black;
  cursor: pointer;
}
